<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="">
      <input type="text" placeholder="search" />
    </div>
    <div class="navbar-brand">logo goes here</div>
    <div class="dropdown">
      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        id="dropdownMenu"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        account icon goes here
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
        <li><button class="dropdown-item" type="button">My Recipes</button></li>
        <li>
          <button class="dropdown-item" type="button">Sign Out</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
